* {
	margin: 0;
	padding: 0;
}

.card-border {
	padding: 4px;
	border-radius: 6px;
	background: linear-gradient(180deg, var(--accent), var(--additional)) border-box, #111 padding-box;
	mask-composite: exclude;
	-webkit-mask-composite: xor;
	max-width: 310px;
	font-family: "hind", sans-serif;
	box-sizing: border-box;
	color: white;
}

.card {
	width: 300px;
	max-width: 300px;
	background: rgba(0, 0, 0, 0.55);
	padding-bottom: 14px;
}

.card-header .banner {
	width: 100%;
	height: 105px;
	background: v-bind(bannerColor);
	border-radius: 6px 6px 0 0;
	overflow: hidden;
}

.card-header .banner-img {
	width: 100%;
	height: 105px;
	background-position: center !important;
	background-size: 100% auto !important;

	mask: url("/assets/banner.svg") center/contain no-repeat;
	-webkit-mask: url("/assets/banner.svg") center/contain no-repeat;
	/* border-radius: 6px 6px 0 0; */
	overflow: hidden;
}

.profile-body {
	padding-left: 16px;
}

.profile-header {
	position: relative;
	display: flex; /* включаем флекс */
	flex-direction: row; /* в ряд */
	align-items: center;
	width: 92px;
	border-radius: 100%;
}

.profile-header .profile-logo {
	position: relative;
	border-radius: 50%;
	left: -4px;
	top: -47px;
	margin-bottom: -42px;
}

.profile-header .profile-logo img {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.user-info {
	color: #fff;
}

.user-info .username {
	font-size: 20px;
}

.user-info .userid {
	font-size: 13px;
	display: flex;
}

.badges-container {
	padding-left: 5px;
	margin-top: -2px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	max-width: 150px;
	border-radius: 7px;
}

.badges-container .badge-item {
	position: relative;
	margin: 5px;
	width: 14px;
	height: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.badges-container .badge-item img {
	width: 14px;
	height: 14px;
}

.badges-container .badge-item:hover > .tooltip {
	transform: scale(1);
}

.tooltip {
	display: block;
	position: absolute;
	color: #b6b7b7;
	background: #18191c;
	padding: 0.4rem;
	border-radius: 3px;
	max-width: 150px;
	width: max-content;
	font-size: 0.9rem;
	transform: scale(0);
	transition: 0.055s ease-in-out transform;
	z-index: 10;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
}

.tooltip-up {
	bottom: 42px;
}

.tooltip-up::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #18191c;
}

.basic-infos {
	font-size: 12.5px;
	margin-top: 10px;
	color: white;
	width: 280px;
	max-width: 95%;
}

.roles {
	margin-top: 14px;
}

.roles .roles-list {
	display: flex;
	flex-wrap: wrap;
	width: 280px;
}

.roles .roles-list .role {
	border: 1px solid rgba(225, 255, 255, 0.2);
	color: #f5f5f5;
	border-radius: 6px;
	font-size: 11px;
	font-weight: 300;
	padding: 3px 6px;
	margin-right: 4px;
	margin-top: 4px;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.roles .roles-list .role .role-color {
	position: relative;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	margin-right: 5px;
}

.roles .roles-list .role .role-color:hover::before {
	content: "✖";
	position: absolute;
	top: -2px;
	right: -2px;
	font-size: 0.65rem;
	color: #f5f5f5;
	background: #292b2f;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.roles .roles-list .role-add {
	cursor: pointer;
}

.profile-thinks {
	margin-top: -25px;
	margin-left: 6px;
}

.profile-thinks p {
	position: absolute;
	width: 182px;
	padding-left: 12px;
	padding-top: 23px;
	font-size: 12.5px;
}

.buttons {
	display: flex;
	gap: 10px;
}

.btn {
	display: flex;
	align-items: center;
	text-decoration: none;
	background-color: var(--accent);
	border: 1px solid rgba(225, 255, 255, 0.2);
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 12.5px;
	margin-top: 12px;
	width: max-content;
}

.btn:hover {
	color: var(--additional);
}

.btn img {
	margin-right: 7px;
}
