.card-border {
	padding: 4px;
	background: linear-gradient(180deg, #1b1b1b, #1b1b1b) border-box, #111 padding-box;
	mask-composite: exclude;
	-webkit-mask-composite: xor;
	max-width: 320px;
}

.card {
	width: 250px;
	background-image: #3a3a3a;
	padding: 10px;
	min-height: 220px;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.card h1 {
	font-weight: 500;
	font-size: 16px;
}

.splitted {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.about {
	font-size: 14px;
}

.card .logo {
	width: 60px;
}

.card a {
	background-color: #154cb7;
	padding: 12px 18px;
	border-radius: 5px;
	font-weight: 600;
	box-shadow: 0 -4px #0003 inset;
	transition: box-shadow 0.2s;
	text-decoration: none;
	color: inherit;
	pointer-events: auto;

	margin-top: auto;
	align-self: center;
}

.card a img {
	margin-right: 7px;
}

.window {
	padding: 5px;
	background-color: #000;
	margin-bottom: 5px;
	border-radius: 7px;
}

.window p {
	font-size: 16px;
}

.splitted {
	display: flex;
	min-width: 250px;
}
