#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

html,
body {
	position: relative;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	scroll-behavior: smooth;
	font-family: "Ubuntu", sans-serif;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(/assets/background.svg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	transition: opacity 0.5s ease-in-out;
	z-index: -1;
	opacity: 1;
}

body.snow::before {
	background-image: url(/assets/background-rs.svg);
	opacity: 0.5;
}

body.rain::before {
	background-image: url(/assets/background-rs.svg);
	opacity: 0.5; /*sss—ã*/
}

body.autumn::before {
	background-image: url(/assets/autumn-tree.svg), url(/assets/background-rs.svg);
	opacity: 0.5;
}

footer {
	text-align: center;
}
