:root {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "JetBrains Mono", sans-serif;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	justify-items: center;
	min-width: 320px;
	min-height: 100vh;
	z-index: 0;
	line-height: 20px;
}

@font-face {
	font-family: "Comic Sans MS";
	src: url(/fonts/ComicSansMS.ttf);
}

@font-face {
	font-family: "Minecraft Regular";
	src: url(/fonts/minecraft-regular.otf);
}
