.container {
	display: flex;
	flex-direction: column;

	& > section {
		display: flex;
		align-items: center;
		justify-content: center;

		& > h1 {
			border-bottom: 2px solid #ffffff99;
		}
	}
}

.general {
	height: 100vh;
	gap: 20px;

	@media screen and (max-width: 920px) {
		flex-direction: column;
	}
}

.enjoy {
	color: #ffffff99;
}

.always h1 {
	font-weight: 300;
	font-size: 30px;
	line-height: 45px;
}

.always button {
	margin-left: 10px;
}

.projects {
	font-weight: 300;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
}

.projects_section {
	flex-direction: column;
	gap: 20px;
}

.general .links {
	width: 20vw;
	text-align: right;
	font-weight: 300;
	font-size: 28px;
}

h1 {
	font-weight: 300;
}

.flux {
	display: flex;
	gap: 20px;
	justify-content: center;
	margin-bottom: 25vh;

	@media screen and (max-width: 920px) {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 920px) {
	.general .always {
		width: auto;
	}
	.general .links {
		text-align: center;
	}
}

.contacts {
	display: flex;
}

.contacts img {
	margin-left: 10px;
	width: 40px;
}
