.skill {
	width: 280px;
	height: 340px;
	position: relative;
	perspective: 1000px;
}

.front {
	width: 100%;
	background: var(--card-url);
}

.back {
	width: 260px;
	height: 320px;
	transform: rotateY(180deg);
}

.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition: transform 0.6s;
	backface-visibility: hidden;
}

.skill:hover .back {
	transform: rotateY(0deg);
}

.skill:hover .front {
	transform: rotateY(-180deg);
}

.flipped .back {
	transform: rotateY(0deg);
}

.flipped .front {
	transform: rotateY(-180deg);
}

.border {
	background: linear-gradient(var(--deg), var(--accent) 0%, var(--additional) 100%);
	height: calc(100% - 16px);
	width: calc(100% + 3px);
	padding: 8px;
	border-radius: 13px;
}

.inner {
	background: rgba(0, 0, 0, 0.2);
	height: calc(100% - 9px);
	border-radius: 10px;
	display: flex;
	padding-top: 10px;
	flex-direction: column;
}

.inner h1 {
	font: 28px "JetBrains Mono", monospace;
	justify-content: center;
	display: flex;
}

.inner p {
	padding: 0 10px;
	font: 18px "Ubuntu", sans-serif;
}

.inner a {
	color: #b8bb26;
	text-decoration: none;
}
