.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    & > * {
        display: flex;
    }

    & > div {
        font: 25px "Ubuntu", sans-serif;
        display: flex;
        gap: 10px;
    }

    & img {
        width: 40px;
    }

    @media screen and (max-width: 920px) {
        flex-direction: column;
        gap: 10px;
    }
}
