.footer {
	display: flex;

	justify-content: space-between;
	text-align: center;
}

.footer img {
	width: 40px;
	margin-left: 10px;
}

.footer div {
	display: flex;
	font: 25px "Ubuntu", sans-serif;
}

@media screen and (max-width: 931px) {
	.footer {
		flex-direction: column;
	}
	.footer img {
		margin-left: 0px;
	}
	.footer p {
		margin-left: 30px;
	}
}
