.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	& > * {
		display: flex;
	}

	& > .contacts {
		font: 25px "Ubuntu", sans-serif;
		display: flex;
		gap: 10px;
	}

	& img {
		width: 40px;
	}

	@media screen and (max-width: 920px) {
		flex-direction: column;
		gap: 10px;
	}
}

.msg {
	position: absolute;
	color: #b6b7b7;
	background: #18191c;
	padding: 0.4rem;
	border-radius: 3px;
	bottom: 100%;
	transform: translate(-8px) scale(0);

	max-width: 200px;
	width: max-content;
	font-size: 0.9rem;
	transition: 0.055s ease-in-out transform;
	z-index: 10;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
}

.email-icon {
	position: relative;
}

.msg-up::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #18191c;
}
.email-icon:hover > .msg {
	transform: scale(1);
	left: 50%;
	transform: translateX(-50%);
}

.show > .msg {
	transform: scale(1);
	left: 50%;
	transform: translateX(-50%);
}
