.card-border {
	mask-composite: exclude;
	-webkit-mask-composite: xor;
	max-width: 320px;
}

.card {
	width: 260px;
	height: 220px;
	background-image: url(/assets/mae.png);

	padding: 10px;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Minecraft Regular", "Ubuntu", sans-serif;
}

.card h1 {
	font-weight: 500;
	font-size: 16px;
}

.splitted {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.about {
	font-size: 14px;
	margin-top: 10px;
}

.card .logo {
	width: 85px; /*sssssssssssыssыыыыs*/
	height: 85px;
}

.card a {
	background-image: url(/assets/minecraft-button-inactive.svg);
	background-size: cover;
	background-position: center top;
	width: 257px;
	height: 30px;
	font-weight: 600;
	text-align: center;
	padding-top: 5px;
	font: 14px;
	text-decoration: none;
	color: inherit;
	pointer-events: auto;

	margin-top: auto;
	align-self: center;
}

.card a:hover {
	background-image: url(/assets/minecraft-button-active.svg);
}

.card a img {
	margin-right: 7px;
}

.window {
	padding: 5px;
	margin-bottom: 5px;
}

.splitted {
	display: flex;
	min-width: 250px;
}

.about {
	color: #fff;
}
