#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

html,
body {
	position: relative;
	justify-items: auto;
	scroll-behavior: smooth;
}

.general {
	display: flex;
	justify-items: center;
	place-items: center;
	color: #e0ecf2;
	height: 100vh;
}

.general .always {
	width: 40vw;
}

.general .links p {
	font-weight: 300;
	font-size: 20px;
}

h1 {
	font-weight: 100;
}

.flux {
	display: flex;
	gap: 20px;
}

#projects {
	text-align: center;
	margin-bottom: 20px;
}

@media screen and (max-width: 931px) {
	.flux {
		display: block;
	}
	.general {
		margin-top: 12vh;
		flex-direction: column;
		align-items: center;
	}
	.general p {
		margin-bottom: 20px;
	}
	.general .always {
		width: auto;
	}
}

body {
	background-color: #323339;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
}
