.tooltip {
	display: block;
	position: absolute;
	color: #b6b7b7;
	background: #18191c;
	padding: 0.4rem;
	border-radius: 3px;
	max-width: 200px;
	width: max-content;
	font-size: 0.9rem;
	transform: scale(0);
	transition: 0.055s ease-in-out transform;
	z-index: 10;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
	right: 0;
}

.tooltip-up {
}

.tooltip-icon {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 8px;
}

.tooltip-up::before {
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #18191c;
}

.tooltip-icon:hover > .tooltip {
	transform: scale(1);
}

.show > .tooltip {
	transform: scale(1);
}

.tooltip-icon img {
	width: 20px;
}
